.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.body {
  background: #8b6868;
  padding: 1;
}

.custom-zoom-thumb [data-rmiz-modal-overlay],
.custom-zoom-thumb [data-rmiz-modal-img],
.custom-zoom [data-rmiz-modal-overlay],
.custom-zoom [data-rmiz-modal-img] {
  transition-duration: 0.4s;
  transition-timing-function: linear;
}

.custom-zoom [data-rmiz-modal-overlay="hidden"] {
  background-color: rgb(50, 168, 82, 0);
}

.custom-zoom [data-rmiz-modal-overlay="visible"] {
  margin-top: 5rem;
  background-color: rgb(50, 168, 82, 1);
}

.custom-zoom [data-rmiz-btn-unzoom] {
  background-color: #32a852;
  color: #000;
}

.custom-zoom [data-rmiz-btn-unzoom]:focus-visible {
  outline-offset: 0.4rem;
  outline: 0.2rem solid #32a852;
}

.custom-zoom-thumb [data-rmiz-modal-overlay="visible"] {
  background-color: rgb(50, 168, 82, 1);
}